<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>입력창</title>
</head>
<body>
	<form action="plus" method="post">
		<label for="plus_label1">첫번째:</label>
		<input type="text" name="first_num" placeholder="첫번째 숫자" id="plus_label1">
		<label for="plus_label2">두번째:</label>
		<input type="text" name="second_num" placeholder="두번째 숫자" id="plus_label2">
		<button type="submit">더하기</button>
	</form>
	<br>
	<form action="minus" method="post">
		<label for="minus_label1">첫번째:</label>
		<input type="text" name="first_num" placeholder="첫번째 숫자" id="minus_label1">
		<label for="minus_label2">두번째:</label>
		<input type="text" name="second_num" placeholder="두번째 숫자" id="minus_label2">
		<button type="submit">빼기</button>
	</form>
	<br>
	<form action="multiplication" method="post">
		<label for="mul_label1">첫번째:</label>
		<input type="text" name="first_num" placeholder="첫번째 숫자" id="mul_label1">
		<label for="mul_label2">두번째:</label>
		<input type="text" name="second_num" placeholder="두번째 숫자" id="mul_label2">
		<button type="submit">곱하기</button>
	</form>
	<br>
	<form action="division" method="post">
		<label for="div_label1">첫번째:</label>
		<input type="text" name="first_num" placeholder="첫번째 숫자" id="div_label1">
		<label for="div_label2">두번째:</label>
		<input type="text" name="second_num" placeholder="두번째 숫자" id="div_label2">
		<button type="submit">나누기</button>
	</form>
	
</body>
</html>