<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration and Login App</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!-- Spring Boot Login and Registration with MySQL Database 1:26:37 -->
<!-- navigation bar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">나의 홈페이지</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">등록과 로그인</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-6 align-self-center">
			<h1>로그인 페이지</h1>
			<form th:action="@{/login}" method="post">
				<!-- 불일치 메시지 -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password</div>
				</div>
				<!-- 로그아웃 메시지 -->				
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out</div>
				</div>
				
				<div class="form-group">
					<label for="username">Username</label> :
					<input type="text" class="form-control" id="username" name="username" placeholder="이메일을 입력하세요" autofocus="autofocus" />
				</div>
				<div class="form-group">
					<label for="password">Password</label> :
					<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" />
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 align-self-center">
							<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
						</div>
					</div>
				</div>
			</form>
			
			<div class="form-group">
				<span>아이디가 없습니까? <a href="/" th:href="@{/registration}">회원가입</a></span>
			</div>
			
		</div>
	</div>
</div>
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>